*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: #000000;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(20, minmax(auto, 1.25rem));
    grid-auto-rows: 3rem;
    gap: .25em;
    justify-content: center;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    font-size: inherit;
    border: none;
    background: hsl(
        var(--hue, 200),
        var(--saturation, 1%),
        calc(var(--lightness-offset, 0%) + var(--lightness, 51%))
    );
    color: #FFFFFF;
    fill: #FFFFFF;
    text-transform: uppercase;
    border-radius: .25em;
    cursor: pointer;
    user-select: none;
}

.key.large {
    grid-column: span 3;
}

.key > svg {
    --icon-size: 1.75rem;
    width: var(--icon-size);
    height: var(--icon-size);
}

.key:hover, .key:focus {
    --lightness-offset: 10%;
}

.key.wrong {
    --lightness: 20%;
}

.key.wrong_location {
    --hue: 49;
    --saturation: 51%;
    --lightness: 47%;
}

.key.correct {
    --hue: 115;
    --saturation: 30%;
    --lightness: 45%;
}

.guess_grid {
    --tile-size: 4em;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    grid-template-columns: repeat(5, var(--tile-size));
    grid-template-rows: repeat(6,var(--tile-size));
    gap: .25em;
}

.tile {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    border: .05em solid hsl(240, 2%, 23%);
    user-select: none;
    transition: transform .250s linear;
}

.tile[data-state="active"] {
    border-color: hsl(200, 1%, 34%);
}

.tile[data-state="wrong"] {
    border: none;
    background-color: hsl(240, 2%, 23%);
}

.tile[data-state="wrong_location"] {
    border: none;
    background-color: hsl(49, 51%, 47%);
}

.tile[data-state="correct"] {
    border: none;
    background-color: hsl(115, 30%, 45%);
}

.tile.isShaking {
    animation: shake .25s ease-in-out
}

.tile.isDancing {
    animation: dance 1s ease-in-out
}

.tile.isFlop {
    transform: rotateX(90deg);
}

@keyframes shake {
    10% {
        transform: translate3d(-5%, 0, 0);
    }
    
    30% {
        transform: translate3d(5%, 0, 0);
    }
    
    50% {
        transform: translate3d(-7%, 0, 0);
    }
    
    70% {
        transform: translate3d(7%, 0, 0);
    }
    
    90% {
        transform: translate3d(5%, 0, 0);
    }
    
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes dance {
    20% {
        transform: translate3d(0, -50%, 0);
    }
    40% {
        transform: translate3d(0, 5%, 0);
    }
    60% {
        transform: translate3d(0, -25%, 0);
    }
    80% {
        transform: translate3d(0, 2.5%, 0);
    }
    90% {
        transform: translate3d(0, -5%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.alert_container {
    position: fixed;
    top: 10vh;
    left: 50vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    transform: translate3d(-50%, 0, 0);
    z-index: 1;
}

.alert {
    pointer-events: none;
    background: hsl(204, 7%, 85%);
    padding: .75em;
    border-radius: .25em;
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

.alert + .alert {
    margin-top: .5em;
}

.alert.isOut {
    opacity: 0;
}